<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{104,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,317}}</string>
                <key>sourceSize</key>
                <string>{104,317}</string>
            </dict>
            <key>sc_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{317,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,210}}</string>
                <key>sourceSize</key>
                <string>{317,210}</string>
            </dict>
            <key>sc_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,425}}</string>
                <key>sourceSize</key>
                <string>{320,425}</string>
            </dict>
            <key>sc_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,767},{104,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,212}}</string>
                <key>sourceSize</key>
                <string>{106,212}</string>
            </dict>
            <key>sc_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{316,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,210}}</string>
                <key>sourceSize</key>
                <string>{316,210}</string>
            </dict>
            <key>sc_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,854},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>sc_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>sc_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,324},{134,189}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{134,189}}</string>
                <key>sourceSize</key>
                <string>{138,193}</string>
            </dict>
            <key>sc_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,665},{100,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,175}}</string>
                <key>sourceSize</key>
                <string>{100,175}</string>
            </dict>
            <key>sc_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,563},{100,175}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,175}}</string>
                <key>sourceSize</key>
                <string>{104,175}</string>
            </dict>
            <key>sc_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,460},{101,175}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,175}}</string>
                <key>sourceSize</key>
                <string>{105,175}</string>
            </dict>
            <key>sc_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{54,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,43}}</string>
                <key>sourceSize</key>
                <string>{54,43}</string>
            </dict>
            <key>sc_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{18,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,43}}</string>
                <key>sourceSize</key>
                <string>{18,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>source.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ce59c84dfc6105e61b058003b08a3a9$</string>
            <key>textureFileName</key>
            <string>source.png</string>
        </dict>
    </dict>
</plist>
